{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container"><br><br>
    <h1>Новый спортсмен</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.achievement.label }}<br>
            {{ form.achievement(class="form-control") }}<br>
            {% for error in form.achievement.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.sport.label }}<br>
            {{ form.sport(class="form-control") }}<br>
            {% for error in form.sport.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.img.label }}<br>
            {{ form.img(class="form-control") }}<br>
            {% for error in form.img.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
</div>
{% endif %}
{% endblock %}