{% extends "base.html" %}

{% block content %}<br>
<h1 style=" margin-bottom: 50px; margin-left: 20px;">Спортсмены</h1>
<!--<form class="form" method="post">-->
<!--<center>-->
<!--            <div class="form-group">-->
<!--                <p><select class="form-control" style="width: 300px;" id="classSelect" name="sp"-->
<!--                           aria-labelledby="dropdownMenuButton1">-->
<!--                    {% for c in athletes %}-->
<!--                    <option class="dropdown-item">{{ c }}</option>-->
<!--                    {% endfor %}-->
<!--                </select><br>-->
<!--                    <button type="submit" class="btn btn-primary">Выбрать</button>-->
<!--                </p>-->
<!--            </div>-->
<!--</center></form>-->


{% endblock %}