{% extends "base.html" %}

{% block content %}<br>
<h1 style=" margin-bottom: 50px; margin-left: 20px;">Мероприятия {% if current_user.access_rights == 1 %}<a
        href="/event_add" style="margin-left: 30px;" class="btn btn-primary">+</a>{% endif %}</h1>
<form class="form" method="post">
<center>
            <div class="form-group">
                <p><select class="form-control" style="width: 300px;" id="classSelect" name="sp"
                           aria-labelledby="dropdownMenuButton1">
                    {% for c in sports %}
                    <option class="dropdown-item">{{ c }}</option>
                    {% endfor %}
                </select><br>
                    <button type="submit" class="btn btn-primary">Выбрать</button>
                </p>
            </div>
</center></form>
<div class="card-deck" style=" margin-left: 10px;">
    {% for event in events %}
    <div class="col-sm-2,8" style="margin-bottom: 30px;">
        <div class="card" style="width: 21rem;">
            <img class="card-img-top" width="298" height="100"
                 src={{event.img}}
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{event.when}}</p>
                <p class="card-text">{{event.name}}</p>
                <p class="card-text"><small class="text-muted">{{event.about}}</small></p>
                {% if current_user.access_rights == 1 %}
                <div>
                    <a href="/event_delete/{{ event.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}