{% extends "base.html" %}

{% block content %}<br>
<h1 style=" margin-bottom: 50px; margin-left: 20px;">Мероприятия</h1>

<div class="card-deck" style=" margin-left: 10px;">
    <div class="card">
        <img class="card-img-top" width="298" height="100"
             src="https://sport48.ru/sites/default/files/default_images/po_umolchaniyu-ikonka.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Спартакиада допризывной молодёжи среди студентов учреждений технического, среднего и
                высшего профессионального образования</p>
            <p class="card-text"><small class="text-muted">Липецкая область</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://sport48.ru/sites/default/files/anons/alpinizm-logotip_9.jpg" width="298"
             height="100">
        <div class="card-body">
            <p class="card-text">Чемпионат Липецкой области по альпинизму</p>
            <p class="card-text"><small class="text-muted">г. Липецк, скальный массив урочища «Каменный лог»</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://sport48.ru/sites/default/files/anons/bilyard-logotip_20.jpg" width="298"
             height="100" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"> Чемпионат Липецкой области по бильярдному спорту "Комбинированная пирамида"</p>
            <p class="card-text"><small class="text-muted">г. Липецк, пл. Победы, д.6, кв.2, БК "Пирамида"</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://sport48.ru/sites/default/files/anons/stendovaya_strelba-logotip_30.jpg"
             width="298" height="100" alt="Card image cap">
        <div class="card-body">
            <p class="card-text"> Чемпионат Липецкой области по практической стрельбе.</p>
            <p class="card-text"><small class="text-muted">г. Липецк, ул. Астраханская, 1Б, ССК "Липецкий
                металлург"</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"
             src="https://sport48.ru/sites/default/files/anons/sportivnoe_orientirovanie-logotip_0.jpg" width="298"
             height="100" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Всероссийские массовые соревнования «Российский Азимут - 2022»</p>
            <p class="card-text"><small class="text-muted">Плехановское лесничество, район Матырского
                водохранилища</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://sport48.ru/sites/default/files/anons/borba_volnaya-logotip_48.jpg"
             width="298" height="100" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Областной турнир памяти Героя СССР Литаврина С.Г. по вольной борьбе</p>
            <p class="card-text"><small class="text-muted">г. Липецк, ул. Ушинского 5, СК "Сокол"</small></p>
        </div>
    </div>
</div>


{% endblock %}